<ion-header>
  <ion-navbar>
    <ion-title>
      Usuários Cadastrados
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-searchbar placeholder="Usuário" (ionInput)="filterUser($event)" [(ngModel)]="searchText"></ion-searchbar>

    <ion-list>
        <ion-item-sliding *ngFor="let usuario of aUsuarios">
    
          <!--Botão para edição de dados do usuário, ao clicar-->>
          <button ion-item (click)="callPageEditUser(usuario.id)">
            <ion-card>
              <ion-card-content>
                <h2>
                  <b>Usuario</b>: {{ usuario.login }}</h2>
                <h2>
                  <b>Senha</b>: {{ usuario.senha }}</h2>
                <h2>
                  <b>Perfil</b>: {{ usuario.perfil }}</h2>
              </ion-card-content>
            </ion-card>
          </button>
    
          <!--Botão deslizante para remover funcionário-->
          <ion-item-options side="left">
            <button ion-button color="danger" (click)="removeUser(usuario)">
              <ion-icon name="trash"></ion-icon>
              <b>Excluir</b>
            </button>
          </ion-item-options>
    
        </ion-item-sliding>
      </ion-list>

    <!-- Btn p/ abrir a tela de adicionar usuário e tela de configuração de IP-->
    <ion-fab center bottom>
      <button ion-fab color="dark"><ion-icon name="md-reorder"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab color="primary" (click)="callPageAddUser()"><ion-icon name="md-person-add"></ion-icon></button>
      </ion-fab-list>
      <ion-fab-list side="right">
        <button ion-fab color="danger" (click)="callPageSetup()"><ion-icon name="md-options"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
