<ion-header>
  <ion-navbar>
    <ion-title>Configuração</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup">
    <ion-list>

      <ion-item>
        <ion-label stacked>IP</ion-label>
        <ion-input type="text" name="ip" [(ngModel)]="configuracao.ip" formControlName="ip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Porta</ion-label>
        <ion-input type="number" name="porta" [(ngModel)]="configuracao.porta" formControlName="porta"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block (click)="update()" [disabled]="formGroup.invalid">Atualizar</button>

  </form>

</ion-content>