<ion-header>
  <ion-navbar>
    <ion-title class="title">
      Horas Improdutivas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>

      <ion-card>
        <ion-card-header class="subtitle">
          Data
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label class="label" stacked>Data Inicial</ion-label>
              <!--<ion-input type="date" formControlName="dataInicial"></ion-input>-->
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data.dataInicial" formControlName="dataInicial" placeholder="Insira a data inicial"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="label" stacked>Data Final</ion-label>
              <!--<ion-input type="date" formControlName="dataFinal"></ion-input>-->
              <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dataFinal" placeholder="Insira a data final"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      

      <ion-card>
        <ion-card-header class="subtitle">
          Hora
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label class="label">Hora Inicial</ion-label> <br>
              <!--<ion-input type="time" formControlName="horaInicial"></ion-input>-->
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="data.horaInicial" formControlName="horaInicial" placeholder="Insira a hora inicial"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="label">Hora Final</ion-label>
              <!--<ion-input type="time" formControlName="horaFinal"></ion-input>-->
              <ion-datetime displayFormat="HH:mm" [(ngModel)]="data.horaFinal" formControlName="horaFinal" placeholder="Insira a hora final"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <button class="btn" (click)="callPageCustoMotivo()" [formGroup]="formGroup" [disabled]="formGroup.invalid" ion-button full>Avançar</button>
      </ion-item>

    </ion-list>
  </form>

</ion-content>