page-home {

    #content{
        background: color($colors, cata-bg);
    }

    #logo{
        text-align: center;
        margin: 80px 0 30px 0;
    }

    #login{
        padding-left: 5px;
        padding-right: 5px;
        margin: 80px 0 0 0;

        ion-input{
            padding: 10px;
        }

        button{
            padding: 30px;
        }
    }
}
