<ion-content padding id="content">

  <div id="logo">
    <img src="assets/imgs/logo-cata.png">
  </div>

  <form id="login" [formGroup]="formLogin">
    <ion-list>

      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <ion-input type="number" placeholder="Seu login..." formControlName="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key" item-left></ion-icon>
        <ion-input type="password" placeholder="Sua senha..." formControlName="senha"></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button full (click)="logar()" [disabled]="formLogin.invalid">Acessar</button>

  </form>

</ion-content>