<ion-header>
  <ion-navbar>
    <ion-title>
      Horas Improdutivas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label>Data Final</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Insira a data final" formControlName="dataFinal"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hora Final</ion-label>
        <ion-datetime displayFormat="HH:mm" placeholder="Insira a hora final" formControlName="horaFinal"></ion-datetime>
      </ion-item>
    </ion-list>
    <hr>
    <ion-card>
      <ion-card-header style="background-color: #bdc3c7">
        <b>Improdutivo</b>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <b>Data inicial</b>: {{this._navParams.data.dataInicial.split('-').reverse().join('/')}}</ion-item>
        <ion-item>
          <b>Data final</b>: {{this._navParams.data.dataFinal.split('-').reverse().join('/')}}</ion-item>
        <ion-item>
          <b>Hora inicial</b>: {{this._navParams.data.horaInicial}}</ion-item>
        <ion-item>
          <b>Hora final</b>: {{this._navParams.data.horaFinal}}</ion-item>
        <ion-item>
          <b>Centro de custo</b>:
          <br>{{this._navParams.data.ccusto+'-'+this._navParams.data.desccusto}}</ion-item>
        <ion-item>
          <b>Motivo</b>:
          <br>{{this._navParams.data.idmotivo+'-'+this._navParams.data.motivo}}</ion-item>
      </ion-list>
    </ion-card>
    <div padding>
      <ion-item style="background-color: #bdc3c7">
        <b>Recurso(s):</b>
      </ion-item>
      <ion-item *ngFor="let impro_B of aImpro_B" style="font-size: 12px !important">
        <ion-label>{{impro_B.recurso+'-'+impro_B.descricao}}</ion-label>
      </ion-item>
    </div>
  </form>

  <ion-fab right bottom>
    <button ion-fab style="background-color:#30336b" (click)="update()" [formGroup]="formGroup" [disabled]="formGroup.invalid">
      <ion-icon name="done-all"></ion-icon>
    </button>
  </ion-fab>

</ion-content>