<ion-header>

  <ion-navbar>

    <ion-title>
      Eficiência Operacional
    </ion-title>

  </ion-navbar>
  <ion-toolbar>
    <ion-title>{{aApontamentos.length}} apontamento(s) a enviar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--Input de pesquisa-->
  <ion-searchbar placeholder="Matrícula do Funcionário" (ionInput)="filter($event)" [(ngModel)]="searchText" type="number"></ion-searchbar>

  <ion-list>

    <ion-item-sliding *ngFor="let apontamento of aApontamentos">

      <!--Card de dados p/ apresentaçao dos apontamentos incluso-->
      <button ion-item>
        <ion-card>
          <ion-card-content>
            <p>
              <b>Data Inicial</b>: {{ apontamento.data_inicial }}</p>
            <p>
              <b>Hora Inicial</b>: {{ apontamento.hora_inicial }}</p>
            <p>
              <b>Codigo Recurso</b>: {{ apontamento.id_recurso }}</p>
            <p>
              <b>Recurso</b>: {{ apontamento.recurso }}</p>
            <p>
              <b>Codigo Operador</b>: {{ apontamento.id_operador }}</p>
            <p>
              <b>Operador</b>:</p>
            <p>{{ apontamento.operador }}</p>
            <p>
              <b>Medicao Inicial</b>: {{ apontamento.medicao_inicial }}</p>
            <p>
              <b>Turma</b>: {{ apontamento.turma }}</p>
          </ion-card-content>
        </ion-card>
      </button>

      <!--Botão excluir, para exclusão de apontamento-->
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="delete(apontamento)">
          <ion-icon name="trash"></ion-icon>
          <b>Excluir</b>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!--Botão arredondado esquerdo p/ enviar dados para o servidor-->
  <ion-fab left bottom>
    <button ion-fab color="primary" (click)="sincronizar()">
      <ion-icon name="md-cloud-upload"></ion-icon>
    </button>
  </ion-fab>

  <!--Botão arredondado direito p/ abrir a tela de apontamento eficiência operacional-->
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="callPageEficiencia()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>