<ion-header>
  <ion-navbar>
    <ion-title>
      Horas Improdutivas
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>{{aImpro_A.length}} apontamento(s) a enviar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--Input de pesquisa-->
  <ion-searchbar placeholder="Pesuisar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let impro of aImpro_A">
      <!--Card de dados p/ apresentaçao dos apontamentos incluso-->
      <button ion-item (click)="updateImproA(impro)">
        <ion-card>
          <ion-card-content>
            <p>
              <b>Data Inicial</b>: {{impro.dataInicial.split('-').reverse().join('/')}}</p>
            <p>
              <b>Data Final</b>: {{impro.dataFinal.split('-').reverse().join('/')}}</p>
            <p>
              <b>Hora Inicial</b>: {{impro.horaInicial}}</p>
            <p>
              <b>Hora Final</b>: {{impro.horaFinal}}</p>
            <hr>
            <p>
              <b>Centro de custo</b>: <br>{{impro.ccusto+'-'+impro.desccusto}}
            </p>
            <hr>
            <p>
              <b>Motivo</b>: {{impro.idmotivo+'-'+impro.motivo}}
            </p>
          </ion-card-content>
        </ion-card>
      </button>

      <!--Botão excluir, para exclusão de apontamento-->
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="delete(impro)">
          <ion-icon name="trash"></ion-icon>
          <b>Excluir</b>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!--Botão arredondado esquerdo p/ enviar dados para o servidor-->
  <ion-fab left bottom>
    <button ion-fab (click)="synchronize()">
      <ion-icon name="md-cloud-upload"></ion-icon>
    </button>
  </ion-fab>

  <!--Botão arredondado direito p/ abrir a tela de apontamento eficiência operacional-->
  <ion-fab right bottom>
    <button (click)="callPageFormHoraData()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>