page-formulario-custo-motivo {
    .title {
        text-align: center;
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }

    .btn {
        padding: 25px !important;
        background-color: #2d3050;
        font-size: 15px !important;
    }

    .label {
        font-size: 17px !important;
    }

    ion-scroll {
        white-space: nowrap;
        height: 125px;
    }
}
