<ion-header>
  <ion-navbar>
    <ion-title class="title">
      Horas Improdutivas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>

      <ion-card>

        <ion-card-header class="subtitle">
          Centro de custo
          <ion-searchbar (ionInput)="filterCusto($event)" [(ngModel)]="searchCusto" formControlName="custo" type="text" placeholder="Número ou descrição"></ion-searchbar>
        </ion-card-header>

        <ion-card-content>
          <ion-scroll scrollY="true" *ngIf="searchCusto">

            <ion-list radio-group formControlName="rCusto" (ionChange)="activeMotivo($event)">

              <ion-item *ngFor="let custo of aCustos">
                <ion-label>{{custo.descricao}}</ion-label>
                <ion-radio [value]="custo.ccusto+'-'+custo.descricao"></ion-radio>
              </ion-item>
            </ion-list>

          </ion-scroll>
        </ion-card-content>
      </ion-card>


      <ion-card *ngIf="actvMotivo">
        <ion-card-header class="subtitle">
          Motivo
          <ion-searchbar (ionInput)="filterMotivo($event)" [(ngModel)]="searchMotivo" formControlName="motivo" type="text" placeholder="Pesquisar"></ion-searchbar>
        </ion-card-header>
        <ion-card-content>
          <ion-scroll scrollY="true" *ngIf="searchMotivo">

            <ion-list radio-group formControlName="rMotivo">
              <ion-item *ngFor="let motivo of aMotivos">
                <ion-label>{{motivo.descricao}}</ion-label>
                <ion-radio [value]="motivo.motivo+'-'+motivo.descricao"></ion-radio>
              </ion-item>

            </ion-list>
          </ion-scroll>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <button class="btn" ion-button full [formGroup]="formGroup" [disabled]="formGroup.invalid" (click)="callPageRecursos()">Avançar</button>
      </ion-item>

    </ion-list>
  </form>

</ion-content>