<ion-header>
  <ion-navbar>
    <ion-title class="title">
      Horas Improdutivas
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>

      <ion-card>
        <ion-card-header class="subtitle">
          Recurso
          <ion-searchbar (ionInput)="filterRecurso($event)" [(ngModel)]="searchRecurso" formControlName="recurso" type="text" placeholder="Pesquisar"></ion-searchbar>
        </ion-card-header>
        <ion-card-content>
          <ion-scroll scrollY="true" *ngIf="searchRecurso">

            <ion-list>
              <ion-item *ngFor="let recurso of aRecursos">
                <ion-checkbox (ionChange)="getCbRecurso(recurso)"></ion-checkbox>
                <ion-label class="descricao">{{recurso.descricao}}</ion-label>
                <hr>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-card-content>
      </ion-card>

      <div padding *ngIf="aObjRecursos.length > 0">

        <h3>Relatório</h3>
        <hr>

        <ion-list class="data">
          <ion-item>
            <b>Data inicial</b>: {{data.dataInicial.split('-').reverse().join('/')}}</ion-item>
          <ion-item>
            <b>Data final</b>: {{data.dataFinal.split('-').reverse().join('/')}}</ion-item>
          <ion-item>
            <b>Hora inicial</b>: {{data.horaInicial}}</ion-item>
          <ion-item>
            <b>Hora final</b>: {{data.horaFinal}}</ion-item>
          <ion-item>
            <b>Centro de custo</b>: <br>{{data.ccusto+'-'+data.desccusto}}</ion-item>
          <ion-item>
            <b>Motivo</b>: {{data.idMotivo+'-'+data.motivo}}</ion-item>
        </ion-list>
        <ion-list class="recursos">
          <ion-item>
            <b>Recursos:</b>
          </ion-item>
          <hr>
          <ion-item *ngFor="let aObjrecurso of aObjRecursos">
            <ion-label class="descricao">{{aObjrecurso.codigo}}-{{aObjrecurso.descricao}}</ion-label>
          </ion-item>
          <hr>
        </ion-list>
      </div>

      <ion-item>
        <button class="btn" ion-button full [disabled]="formGroup.invalid" (click)="apontar()">Apontar</button>
      </ion-item>

    </ion-list>
  </form>

</ion-content>