page-formulario-recursos {
    .title {
        text-align: center;
        font-size: 30px;
    }
    .subtitle {
        font-size: 20px;
    }

    .btn {
        padding: 25px !important;
        background-color: #2d3050;
        font-size: 15px !important;
    }

    .label {
        font-size: 17px !important;
    }

    ion-scroll {
        white-space: nowrap;
        height: 300px;
    }

    .descricao {
        font-size: 12px !important;
        font-weight: 700;
    }

    .data {
        ion-item {
            margin-bottom: -11px !important;
        }
    }

    .recursos {
        margin-top: 10px !important;
        border: 1px solid #000;
    }
}
