<ion-header>
  <ion-navbar>
    <ion-title>Usuário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup">
    <ion-list>

      <ion-item>
        <ion-label stacked>Usuario</ion-label>
        <ion-input type="number" name="usuario" [(ngModel)]="usuario.login" formControlName="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="text" name="senha" [(ngModel)]="usuario.senha" formControlName="senha"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Perfil</ion-label>
        <ion-select name="perfil" [(ngModel)]="usuario.perfil" formControlName="perfil">
          <ion-option>user</ion-option>
          <ion-option>admin</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <button ion-button block (click)="update()" [disabled]="formGroup.invalid">Salvar</button>
  </form>

</ion-content>