page-eficiencia {
    .incluir{
        height: 100px;
        width: 100px;

        ion-icon{
            font-size: 80px;
        }
    }

    ion-scroll {
        white-space: nowrap;
        height: 200px;
    }
   
        ion-title{
            text-align: center;
        }

        ion-footer{
            text-align: center;
        }

        i{
            color: #2d3050;
        }
    
        #formEficiencia{
    
            margin: 30px 0 0 0;
    
            ion-item{
                margin-top: 5px;
            }
    
            ion-label{
                font-size: 1em;
                font-weight: bolder;
            }
    
            ion-input{
                
                font-size: 2em;
            }

            button{
                padding: 30px;
            }

            ion-select {
                font-size: 1.5em;
                font-weight: bolder;
            }

        }
}
