<ion-header>
  <ion-navbar>
    <ion-title>
      Eficiência Operacional
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form id="formEficiencia" [formGroup]="formGroup">

    <ion-list>

      <ion-card>
        <ion-card-header>
          Modo de apontamento
        </ion-card-header>

        <ion-card-content>

          <ion-list>
            <ion-item>
              <ion-label>Apontamento contínuo? {{ ApontamentoContinuo }}</ion-label>
              <ion-toggle (ionChange)="notify($event)" checked="false"></ion-toggle>
            </ion-item>
          </ion-list>

        </ion-card-content>

      </ion-card>
      <hr>
      <ion-card>
        <ion-card-header>
          Pesquisar Recurso
          <ion-searchbar (ionInput)="filterRecursos($event)" [(ngModel)]="searchRec" formControlName="recurso" placeholder="Código ou Nome do Recurso"
            type="text"></ion-searchbar>
        </ion-card-header>

        <ion-card-content>

          <ion-scroll scrollY="true" *ngIf="searchRec">
            <ion-list radio-group formControlName="radioRec">

              <ion-item *ngFor="let recurso of aRecursos">
                <ion-label>{{ recurso.descricao }}</ion-label>
                <ion-radio [value]="recurso.codigo"></ion-radio>
              </ion-item>

            </ion-list>
          </ion-scroll>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Pesquisar Funcionário
          <br>
          <ion-searchbar (ionInput)="filterFuncionarios($event)" [(ngModel)]="searchFun" formControlName="operador" placeholder="Matrícula ou Nome do Funcionário"
            type="text"></ion-searchbar>
        </ion-card-header>
        <ion-card-content>

          <ion-scroll scrollY="true" *ngIf="searchFun">

            <ion-list radio-group formControlName="radioFun">

              <ion-item *ngFor="let funcionario of aFuncionarios">
                <ion-label>{{ funcionario.nome }}</ion-label>
                <ion-radio [value]="funcionario.nome"></ion-radio>
              </ion-item>
            </ion-list>

          </ion-scroll>

        </ion-card-content>
      </ion-card>

      <hr>

      <ion-card>
        <ion-card-header>
          Turma
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-select formControlName="turma">
              <ion-option value="A">A</ion-option>
              <ion-option value="B">B</ion-option>
              <ion-option value="C">C</ion-option>
              <ion-option value="D">D</ion-option>
              <ion-option value="E">E</ion-option>
              <ion-option value="F">F</ion-option>
              <ion-option value="G">G</ion-option>
              <ion-option value="H">H</ion-option>
            </ion-select>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <hr>

      <ion-card>
        <ion-card-header>
          Medição Inicial
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input type="number" formControlName="medicaoInicial"></ion-input>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <!-- <button ion-button full (click)="apontar()" [disabled]="Form.invalid">Incluir</button> -->

    </ion-list>
  </form>

  <ion-fab right bottom>
    <button class="incluir" ion-fab color="danger" (click)="apontar()" [formGroup]="formGroup" [disabled]="formGroup.invalid">
      <ion-icon name="md-checkmark-circle"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <i>Usuário: {{ usuarioLogado }}</i>
</ion-footer>