page-menu {
    ion-title{
        text-align: center;
        font-size: 18px;
    }

    .btn {
        margin: 10px 0 20px 0;
        padding: 30px;
        background-color: #2d3050;
        font-size: 18px;
    }
}
