<ion-header>

  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button class="btn" (click)="callPageEficienciaOperacional()" ion-button full>Eficiência Operacional</button>
  <button class="btn" (click)="callPageHorasImprodutivas()" ion-button full>Horas Improdutivas</button>

</ion-content>